body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    padding:100px;
    display:grid;
    gap:1.5rem;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:chocolate;
}

#basic-info-container{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
    border:2px solid black;
    border-radius: 5px;
    display:grid;
    gap:10px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

#stats-container{
    display:grid;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    border:2px solid black;
    border-radius: 5px;
}

#pokemon-dropdown{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    display:block;
    margin-left: 5px;
    margin-top: 5px;
    max-height:40px;
    grid-column-start:1;
    grid-column-end: 3;
}


#basic-info-table{
    font-size:10px;
    margin-left:5px;
    grid-row-start: 2;
    grid-column-start:1;
    grid-column-end:3;
}

#stats-table{
    font-size:10px;
    margin-left:5px;
}

#image-container {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:2;
}

img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-height:200;
    max-width:200;
}

th {
    text-align:left;
    padding:0;
    border-bottom:1px solid #000;
}
td {
    text-transform:capitalize;
    text-align:center;
    padding:0;
    border-bottom:1px solid #000;
    border-left:1px solid #000;
}
audio {
    max-height:20px;
    max-width:200px;
    margin:3px;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

#moves-items-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:2;
    border:2px solid black;
    border-radius: 5px;
}

#moves-items-container h1 {
    font-size: 12px;
}

ul {
    font-size:10;
    padding: none;
    list-style-type:none;
}
